body {
  font-size: 1em;
  background-color: #637830;
}

#kordynet {
  text-align: center;
  margin-right: 10px;
  padding-top: 5px;
}

h4 {
  margin-bottom: 5px;
  padding-bottom: 0px;
  margin-top: 5px;
  padding-top: 0px;
}

#home h4 {
  margin: 10px 0 0 0;
}

h3 {
  margin-top: 15px;
  margin-bottom: 11px;
  padding-bottom: 0px;
}

#pubs h4 {
  background-color: #ffffff;
  padding: 5px 15px;
}

.pubsCopy {
  padding-left: 20px;
  padding-right: 10px;
  /*	clear: both;*/
}

.pubsCopy .copy {
  float: left;
  /*width: 67%;*/
  margin-top: 3px;
  margin-bottom: 22px;
}

.pubsIMG {
  float: left;
  margin-right: 20px;
  height: 100px;
  display: block;
  margin-bottom: 20px;
}

#main {
  background-color: #637830;
}

#container {
  width: 795px;
}

#forensyka #container {
  width: 945px;
}

#bioCopy {
  background-color: #ffffff;
  padding: 5px 15px;
  margin-right: 25px;
}

#copy {
  width: 700px;
  margin-top: 20px;
  margin-left: 260px;
  background-color: #e3e3bc;
  padding: 35px 35px 25px 35px;
  border: 1px solid #c3c3c3;
}

section {
  margin-bottom: 32px;
}

#forensyka #copy {
  /* width: 650px;
  margin-top: 20px;
  margin-left: 260px; */
  background-color: #e3e3bc;
  padding-right: 8px;
  padding-left: 8px;
  /* padding: 15px 15px 15px 25px; */
}

#gap .article {
  border: 1px solid #ccc;
  margin: 20px 0 0;
  text-align: left;
  padding: 25px 15px 15px 25px;
  background-color: #fcfcfc;
}

#forensics .article {
  border: 1px solid #ccc;
  margin: 0px;
  text-align: left;
  padding: 15px;
  padding-left: 25px;
  background-color: #fcfcfc;
}

#forensyka .article {
  border: 1px solid #ccc;
  margin: 0px;
  text-align: left;
  padding: 20px 40px 20px 40px;
  background-color: #fcfcfc;
}

#forensyka .article p {
  text-indent: 1.5em;
}

#footer {
  clear: both;
  width: 700px;
  margin-left: 260px;
  font-size: 70%;
  font-family: Courier, mono;
  height: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}

#forensyka #footer {
  margin-left: 265px;
}

#nav {
  width: 220px;
  margin-left: 15px;
  padding-top: 50px;
  font-size: 0.75em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #333;
  float: left;
}

#nav ul {
  border: none;
  border: 2px solid #403403;
  border-bottom: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li {
  border-bottom: 2px solid #403403;
  margin: 0;
}

#nav li a {
  display: block;
  padding: 5px 5px 5px 1em;
  background-color: #efefde;
  text-decoration: none;
  width: 100%;
  color: #000;
  font-weight: bold;
}

html > body #nav li a {
  width: auto;
}

#nav li a:hover {
  color: #fff;
  background-color: #9d9a58;
}

#linksCopy h3 {
  background-color: #ffffff;
  padding: 5px;
  margin-left: 0px;
}

.linksCopy {
  margin-left: 15px;
}

.linksCopy a {
  display: block;
  margin-bottom: 6px;
  text-decoration: none;
}

.linksCopy a:hover {
  text-decoration: underline;
}

.linksCopy .or {
  margin-bottom: 6px;
  /* margin-left: 15px;
  margin-top: 4px; */
}

.linksCopy .or a {
  display: inline;
}

.underline {
  text-decoration: underline;
}

/*           // Nav Special Trick //
----------------------------------------------- */
#home .home a,
#bio .bio a,
#pubs .pubs a,
#links .links a,
#forensics .forensics a,
#book .book a,
#esperanto .esperanto a,
#forensyka .forensyka a,
#forensyka .forensics a,
#sputnik .sputnik a,
#bana .bana a,
#gap .gap a,
#kazi .kazi a {
  padding: 5px 5px 5px 1em;
  font-weight: bold;
  background-color: #403403;
  font-size: 1.2em;
  color: #fff;
}

#card {
  border: 1px solid #ccc;
  margin: 0 0 40px;
  padding: 20px;
  text-align: center;
  background-color: #fcfcfc;
}

#card h1,
#card h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.copyright {
  font-size: 70%;
  color: #333333;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
}

.article small {
  color: #403403;
}

.biblio {
  text-indent: 3em;
  margin-bottom: 0.8em;
  width: 525px;
}

.hp-image {
  position: absolute;
  top: 200px;
  left: 720px;
}

.pl-link {
  float: right;
  margin-right: 10px;
}

.book-wrapper {
  width: 300px;
  float: left;
  margin-left: 30px;
}

.clearBoth {
  clear: both;
}

.book-cover {
  width: 196px;
  float: left;
}

#forensyka .br {
  display: none;
}

.button {
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.disclaimer {
  font-size: 11px;
}

.figures {
  margin-top: 12px;
}

.captions {
  margin-top: 5px;
}

@media only screen and (max-width: 800px) {
  #forensyka #nav {
    width: 100%;
    margin: 0;
    padding-top: 50px;
    float: none;
  }

  #forensyka #copy {
    width: 100%;
    margin: 20px 0 0;
    padding: 0;
  }

  #forensyka #container {
    width: 100%;
  }

  #forensyka h1 {
    padding: 15px 15px 0;
  }

  #forensyka h2 {
    padding: 0 15px;
  }

  #forensyka .biblio {
    width: 100%;
  }

  #forensyka .br {
    display: block;
  }

  #forensyka #footer {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  body,
  html,
  main,
  footer,
  #footer,
  #home {
    width: 100%;
  }

  #card {
    margin-top: 0px;
  }

  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.4em;
  }

  #nav {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 0px;
    background-color: #637830;
    float: none;
  }

  #copy {
    width: 100%;
    border: none;
    padding: 20px;
    margin: 0;
  }

  #footer {
    width: 100%;
    margin-left: 0;
  }

  .hp-image {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
  }

  .kordynet-mb {
    display: none;
  }
}
